<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZ QUESTIONS</title>
</head>
<body>
    <h1>WELCOME TO RAPID FIRE QUIZ</h1>

<div id="app">
    [[new_task]]
</div>

<script src="<https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js>">
    var app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
  data(){
    return{
        returned_task:'',
        new_task:'HELLO',
        create_modify:'',
        modify_id:-1,
        modify_index:-1,
        tasks:[]
    }
  },
  created(){
    this.tasks=['do this ','and do that 🫡']
  }
});
app.mount('#app')
</script>


</body>
</html>